* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color:rgb(213, 107, 130);
    text-decoration: none;
    transition: 0.3;
    }
nav span {
    color:rgb(213, 107, 130);
    text-decoration: none;
    transition: 0.3;
    }

a:hover {
    opacity: 0.8;
}
.logo {
    text-transform: uppercase;     
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(30, 24, 35);
    height: 15vh;
}
main{
    background:no-repeat center center;
    background-size: cover;
    height: 85vh;
    
}
main .container{
    align-items: center;
    justify-content: space-between;
}
.main-text{
    width: 50%;
    display: fixed;
    margin-left: 10vh;
}
main p{
    color: white;
}
main h2{
    color: white;
}
.main-text div{
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list h1{
    color: rgb(213, 107, 130);
    font-size: 30px;
    letter-spacing: 2px;
}
.nav-list li {
    letter-spacing: 1px;
    font-size: 20px;
    margin-left: 32px;
}
#logo-nav{
    height: 15vh;
    
}
.img-container{
    height: 30vh;
    position: relative;
    display: flex;
    margin-left: 100vh;
    margin-bottom: 100vh;

}
.container{
    max-width: 100%;
    height: 70vh;
    background-color: rgb(30, 24, 35);
    margin: 0 auto;
}
button{
    background-color: rgb(213, 107, 130);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;

}
.btn{
    background-color: rgb(213, 107, 130);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.btn1{
    background-color: rgb(213, 107, 130);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    color: white;
    display: flex;
    width: 930px;
    
}
.img-box{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}
.img1{
    height: 50vh;
}
.form-box{
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    letter-spacing: 0.8px;
    font-size: 35px;
    color: rgb(213, 107, 130);
}
.form-box p {
    letter-spacing: 0.5px;
    font-weight: bold;   
}
.form-box p a {
    margin: 20px 0;
    padding: 1vh;
}
form .input-group {
    margin-bottom: 15px;   
}
.input-group {
    margin-bottom: 15px;   
}
form .input-group label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
form .input-group input{
    width: 100%;
    height: 47px;
    border-radius: 20px;
}
.input-group input{
    width: 100%;
    height: 47px;
    border-radius: 20px;
}
.form-box a{
margin-bottom: 10px;
}
h1{
    color: rgb(213, 107, 130);
}
.btn-cancelar{
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: rgb(213, 107, 130);
    font-size: 20px;
    text-decoration: none;
    
}
.confirma {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.7) ;
    transition: all .4s;
    height: 100vh;
    font-size: 2vh;
}
.confirma2 {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.7) ;
    transition: all .4s;
    height: 100vh;
    font-size: 2vh;
}
.confirma-conteudo {
    color: rgb(30, 24, 35);
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: white;
    padding: 2em 3em;
}
.confirma-conteudo-agendamento{
    color: rgb(30, 24, 35);
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: white;
    padding: 2em 3em;
   
}

.confirma-conteudo-agendamento p {
    border-style: solid;
    border-width: medium;
    font-size: larger;
    padding: 5%;
}
.confirma:target{
    visibility: visible;
    opacity: 1;
}
.modal-aviso {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.7) ;
    transition: all .4s;
    height: 100vh;
}
.modal-aviso-sucesso{
    color: white;
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: rgb(71, 164, 71);
    padding: 2em 3em;
}
.modal-aviso-sucesso p{
    color: white;
    font-size: 3vh;
}
.modal-aviso-falha{
    color: white;
    position: relative;
    width: 400px;
    max-width: 90%;
    background-color: rgb(250, 90, 90);
    padding: 2em 3em;
}
.modal-aviso-falha p{
    color: white;
    font-size: 3vh;
}
.modal-aviso-2{
    color: rgb(30, 24, 35);
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: white;
    padding: 2em 3em;
}
.close-aviso{
        color: white;
        float: right;
        font-size: 3vh;
}
.close-aviso-btn{
        padding: 1vh;
        color: white;
        font-size: 2vh;

}
.box-search{
    display: flex;
    justify-content: center;
    gap: .1%;
    width: 30vh;
    }
.sidebar{
    visibility: hidden;
    position: fixed;
    width: 40vh;
    height: 100%;
    padding-top: 30px;
    left: 0;
    background-color: rgb(30, 24, 35);
    transition: 0.5s;
    transition-property: left;
    border-right: solid;
    border-color: white;

}
.sidebar:target{
    visibility: visible;
}
.sidebar h2{
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
}
.sidebar a{
    color: white;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    transform: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: rgb(213, 107, 130);
    opacity: 1;
}

.sidebar .icon{
    padding-right: 10px;

}

.close {
    color: rgb(213, 107, 130);
    float: right;
    font-size: 6vh;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .close-sidebar { 
    color: rgb(213, 107, 130);
    font-size: 4vh;
    font-weight: bold;
    padding-left: 1000px;
  }
  .box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .box2 select {
  background-color: rgb(30, 24, 35);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box2::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box2:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box2 select option {
  padding: 30px;
}
.pre{
    width: 80px;
    height: 80px;
    justify-items: center;
}
.box-load{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(30, 24, 35);
}
#gallery
{
    margin-top: 5vh;
    width: 90%;
    margin: auto;
    padding: 50px;
    background-color: rgb(30, 24, 35);
    color:white;
}
#gallery-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-items: center;
}
#gallery-content{
        border-style: solid;
        border-width: large;
        width: 44vh;
        height: 22vh;
        border-color: rgb(213, 107, 130); 
        border-radius: 5px;
        margin: 5%;
        padding: 2vh;
        font-size: 3vh;
}
#gallery-content p{
    padding: 1vh;
}
.icons-box{
    color:white;
    transition: margin 0.2s ease-in-out;
}
.icons-box a{
    color: white;
}
.icons-box:hover{
    margin-top: -2;
}
.conteudo-editar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.conteudo-editar h1{
    font-size: 5vh;
}
.container-editar{
    background-color: rgb(30, 24, 35);
    border-radius: 10px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    color: white;
    padding: 5vh;
}
.header-editar{
    padding: 3vh;
}
.sair{
    size: 2.5vh;
}

.table {
    margin-top: 5vh;
	width:85%;
	border:3px solid;
    border-color: rgb(30, 24, 35);
    border-radius: 5px;
}
.table-header {
	display:flex;
	width:100%;
	background:rgb(30, 24, 35);
	padding:3vh ;
}
.table-row {
	display:flex;
	width:100%;
	padding:2vh;
}
.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
    border-bottom: 3px solid;
    border-color: rgb(30, 24, 35);
    width: 100%;
    font-size: 3vh;
    padding: 1.7vh;
}
.table-data #email{
    font-size: 2.5vh;
}
.header__item {
	text-transform:uppercase;
}
.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:1vh;
	padding-right:1vh;
}
.barra-pesquisa{
    width: 20vh;
    height: 7vh;
    border-radius: 10px;
    padding: 0.5vh;
}